makefiles/target.mk
makefiles-win32/target.mk
fbreader/Debug
zlibrary/core/Debug
zlibrary/text/Debug
zlibrary/ui/Debug
fbreader/Release
zlibrary/core/Release
zlibrary/text/Release
zlibrary/ui/Release
*.lnk
packages
deps/lib
.cproject
.project
.settings
fbreader/version.mk
